body {
    background-color: #333333; /* Gris oscuro */
    margin: 0;                /* Elimina márgenes por defecto */
    padding: 0;               /* Elimina relleno por defecto */
}

.scene {
    display: none;  /* Ocultar todas las escenas */
    text-align: center;
    max-width: 550px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(12, 12, 12, 0.918);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scene.active {
    display: block; /* Mostrar solo la escena activa */
}

.carousel {
    position: relative;
    max-width: 400px;
    margin: 10px auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


/* Estilo para los párrafos de texto */
.scene p {
    color: white;              /* Texto blanco */
    font-family: Arial, sans-serif; /* Fuente Arial */
    font-size: 16px;           /* Tamaño de fuente, ajustable */
    margin: 10px 0;            /* Espaciado vertical */
}

/* Nuevo estilo para los títulos */
.scene h2 {
    color: rgb(235, 221, 31);              /* Título blanco */
    font-family: Arial, sans-serif; /* Fuente Arial */
    font-size: 24px;           /* Tamaño opcional, ajustable */
    margin: 10px 0;            /* Espaciado vertical */
}

/* Estilos para el botón de narración */
.speakButton {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.speakButton:hover {
    background-color: #545ee7;
}